nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow-x: clip;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.image {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.image h3 {
  position: absolute;
  left: 65px;
}
.image img {
  width: 5rem;
  height: 4rem;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #584346;
  font-size: 1.25rem;
  font-weight: 600;
}
nav button {
  display: none;
}
.cart {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
  font-size: 1.5rem;
}
.quantity {
  position: absolute;
  background-color: #584346;
  color: #fff;
  font-size: 1rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  top: -15px;
  left: -13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartContainer {
  display: none;
}

@media (max-width: 767px) {
  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    top: 80px;
    background-color: #584346;
    transition: 0.3s;
    padding: 1rem;
    align-items: flex-start;
    width: 8rem;
    height: 20rem;
    justify-content: flex-start;
    z-index: 55;
  }
  nav ul li a {
    font-weight: normal;
    font-size: 1rem;
  }
  .cart {
    display: none;
  }
  .cartContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .cartTwo {
    color: #584346;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    position: relative;
    font-size: 1.75rem;
  }
  nav ul li > a {
    color: #fff;
  }
  .showUl {
    transform: translateX(0);
    transition: 0.3s;
  }
  nav button {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
  }

  nav button > span {
    width: 1.25rem;
    height: 2.5px;
    background-color: #584346;
    transition: 0.3s ease;
  }
  nav button:hover span {
    width: 1.25rem;
    height: 2.5px;
    background-color: #2c2223;
  }

  .show span:first-child {
    transform: rotate(45deg) translateY(10px);
  }
  .show span:nth-child(2) {
    opacity: 0;
    height: 0;
  }
  .show span:last-child {
    transform: rotate(-45deg) translateY(-10px);
  }
}
@media (max-width: 380px) {
  .image h3 {
    display: none;
  }
}
