.container ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}
ul {
  list-style: none;
}
.container ul li a {
  width: 5rem;
  height: 5rem;
  color: #ececec98;
  font-size: 2rem;
}

.container {
  background-color: #444;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 1rem 0;
  /* position: fixed; */

  /* width: 100%; */
}

.active {
  color: #7778ff !important;
  /* font-size: 20rem; */
}
